<div class="post-content">
    <div>
        <div>
            <a class="avatar" href="/posts?author=<%= post.author._id %>" data-title="<%= post.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>" data-content="<%= post.author.bio %>">img</a>
        </div>

        <div>
            <div>
                <h3>
                    <a href="/posts/<%= post._id %>"><%= post.title %></a>
                </h3>
                <pre><%- post.content %></pre>
                <div>
                    <span><%= post.created_at %></span>
                    <span>
                        <span>浏览(<%= post.pv %>)</span>
                        <span>留言(<%= post.commentsCount %>)</span>
                        <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
                            <div>
                                <div></div>
                                <i></i>
                                <div>
                                    <div>
                                        <a href="/posts/<%= post._id %>/edit">编辑</a>
                                    </div>
                                    <div>
                                        <a href="/posts/<%= post._id %>/remove">删除</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
